<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>ProgessiveTestNG.ProgressiveWebsiteTestNG</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProgressiveDrivers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Sanjaya</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PersonalInfo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProgressiveAddVehicle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Zipcode</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
