<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b965f2">  <td>20/03/27 12:55:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveWebsiteTestNG.PersonalInfo()[pri:2, instance:ProgessiveTestNG.ProgressiveWebsiteTestNG@38c5cc4c]">PersonalInfo</td> 
  <td>main@1624820151</td>   <td></td> </tr>
<tr bgcolor="b965f2">  <td>20/03/27 12:55:41</td>   <td>9841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveWebsiteTestNG.ProgressiveAddVehicle()[pri:3, instance:ProgessiveTestNG.ProgressiveWebsiteTestNG@38c5cc4c]">ProgressiveAddVehicle</td> 
  <td>main@1624820151</td>   <td></td> </tr>
<tr bgcolor="b965f2">  <td>20/03/27 12:55:51</td>   <td>20104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveWebsiteTestNG.ProgressiveDrivers()[pri:4, instance:ProgessiveTestNG.ProgressiveWebsiteTestNG@38c5cc4c]">ProgressiveDrivers</td> 
  <td>main@1624820151</td>   <td></td> </tr>
<tr bgcolor="b965f2">  <td>20/03/27 12:55:25</td>   <td>-5362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveWebsiteTestNG.Sanjaya()[pri:0, instance:ProgessiveTestNG.ProgressiveWebsiteTestNG@38c5cc4c]">Sanjaya</td> 
  <td>main@1624820151</td>   <td></td> </tr>
<tr bgcolor="b965f2">  <td>20/03/27 12:55:31</td>   <td>-206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveWebsiteTestNG.Zipcode()[pri:1, instance:ProgessiveTestNG.ProgressiveWebsiteTestNG@38c5cc4c]">Zipcode</td> 
  <td>main@1624820151</td>   <td></td> </tr>
<tr bgcolor="b965f2">  <td>20/03/27 12:55:20</td>   <td>-10442</td> <td title="&gt;&gt;ProgressiveWebsiteTestNG.executeBeforeStartingTest()[pri:0, instance:ProgessiveTestNG.ProgressiveWebsiteTestNG@38c5cc4c]">&gt;&gt;executeBeforeStartingTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1624820151</td>   <td></td> </tr>
<tr bgcolor="b965f2">  <td>20/03/27 12:55:20</td>   <td>-10436</td> <td>&nbsp;</td><td title="&gt;&gt;ProgressiveWebsiteTestNG.setUpTest()[pri:0, instance:ProgessiveTestNG.ProgressiveWebsiteTestNG@38c5cc4c]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1624820151</td>   <td></td> </tr>
<tr bgcolor="b965f2">  <td>20/03/27 12:55:31</td>   <td>-211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveWebsiteTestNG.tearDown()[pri:0, instance:ProgessiveTestNG.ProgressiveWebsiteTestNG@38c5cc4c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1624820151</td>   <td></td> </tr>
<tr bgcolor="b965f2">  <td>20/03/27 12:55:31</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveWebsiteTestNG.tearDown()[pri:0, instance:ProgessiveTestNG.ProgressiveWebsiteTestNG@38c5cc4c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1624820151</td>   <td></td> </tr>
<tr bgcolor="b965f2">  <td>20/03/27 12:55:41</td>   <td>9841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveWebsiteTestNG.tearDown()[pri:0, instance:ProgessiveTestNG.ProgressiveWebsiteTestNG@38c5cc4c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1624820151</td>   <td></td> </tr>
<tr bgcolor="b965f2">  <td>20/03/27 12:55:51</td>   <td>20104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveWebsiteTestNG.tearDown()[pri:0, instance:ProgessiveTestNG.ProgressiveWebsiteTestNG@38c5cc4c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1624820151</td>   <td></td> </tr>
<tr bgcolor="b965f2">  <td>20/03/27 12:55:59</td>   <td>28508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveWebsiteTestNG.tearDown()[pri:0, instance:ProgessiveTestNG.ProgressiveWebsiteTestNG@38c5cc4c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1624820151</td>   <td></td> </tr>
<tr bgcolor="b965f2">  <td>20/03/27 12:55:59</td>   <td>28593</td> <td title="&lt;&lt;ProgressiveWebsiteTestNG.tearDown()[pri:0, instance:ProgessiveTestNG.ProgressiveWebsiteTestNG@38c5cc4c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1624820151</td>   <td></td> </tr>
<tr bgcolor="b965f2">  <td>20/03/27 12:55:59</td>   <td>28509</td> <td>&nbsp;</td><td title="&lt;&lt;ProgressiveWebsiteTestNG.terminateTest()[pri:0, instance:ProgessiveTestNG.ProgressiveWebsiteTestNG@38c5cc4c]">&lt;&lt;terminateTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1624820151</td>   <td></td> </tr>
</table>
